<div class="tabs-wrapper" ...attributes>
    {{yield (hash
            Title=(component 'tabs/title' registerTitle=this.registerTitle activateTab=this.activateTab activeTabElement=this.activeTabElement)
            Content=(component 'tabs/content' registerContent=this.registerContent activeContentElement=this.activeContentElement)
        )}}
</div>
